{% extends 'base.html' %}

{% block content %}

  <div class="container my-5">
    <h1 class="text-center">Bem-vindo ao Sistema de Gerenciamento de Escola</h1>
    <p class="text-center">Selecione uma opção abaixo para começar:</p>
    <div class="d-flex justify-content-center">
      <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'aluno_list' %}">Gerenciar Alunos</a></li>
        <li class="list-group-item"><a href="{% url 'curso_list' %}">Gerenciar Cursos</a></li>
        <li class="list-group-item"><a href="{% url 'professor_list' %}">Gerenciar Professores</a></li>
        <li class="list-group-item"><a href="{% url 'turma_list' %}">Gerenciar Turmas</a></li>
      </ul>
    </div>
  </div>
{% endblock %}


